 /*================================================================================================ */	
/*PARA EXIBIÇÃO NOS RESULTADOS DE BUSCA*/

#resultados p{
	color: #888888;	
}

#resultados-erro p{
	color: #FF2E00;	
}
 

#item-bloco{
	margin-top: 15px;
	margin-bottom: 13px;
	padding: 3px;
	
	border-bottom: solid 1px #DDDDDD;
}

#item-bloco-tags a:link, #item-bloco-tags a:visited{
  color: #339C33;
}
#item-bloco-tags a:hover{
  color: #21D133;
}


#item-bloco p{
	padding: 2px;
	margin: 0px;
	margin-top: 4px;
	margin-bottom: 3px;
	color: #444444;
}
#item-bloco-titulo{
	text-transform: capitalize;
	text-align: left;
	margin: 0px;
}
#item-bloco-titulo h3,#item-bloco h1, #item-bloco h2, #item-bloco h3, #item-bloco h4{
	padding: 0px;
	margin: 0px;
	font-size: 115%;
	color: #444444;
}

#item-paginador{
	margin-top: 20px;
	text-align: center;	

}

#item-paginador-pagina{
	display: inline-table;
	margin-left: 4px;
	margin-right: 4px;
		
}

#item-paginador-pagina h3{
	padding: 3px;
	margin: 0px;
	border :solid 1px #fff;
}

#item-paginador-pagina   a:hover h3{
	border :solid 1px;
}

.item-paginador-pagina-selected{
	background: #0656AA;
	color: #fff;
	border-color: #0656AA;
}
.item-paginador-pagina-selected h3{
	color: #fff;
}